{%extends 'base.html'%}

{%block contenitore%}
<h1><strong>Login</strong></h1>
    <ul>
        <li><a href="{{url_for('register')}}">Register</a></li>
    </ul>

    
    {% with messages = get_flashed_messages() %} 
        {% if messages %}
            {% for message in messages %}
                <h1 style="color: red;">{{ message }}</h1>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <form action="/login" method="post">
        <fieldset>
            <legend>Login:</legend>
            <div>
                <label for="username">User:</label>
                <input type="text" name="username" placeholder="Inserisci nome">
            </div>
           
            <br>

            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Inserisci password">
            </div>

            <br>
           
            <div>
                <input type="submit" value="Login">
            </div>
        </fieldset>
    </form>
{%endblock%}